html {
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-color: #eeeeee;
  background-color: #eeeeee;
}

#base {
  position: relative;
}

#screen_pic {
  stroke: #555e6d;
  stroke-width: 5;
}

#screen_frame {
  background-color: #1e1e1e;
  background-image: url("images/black.jpg");
  position: relative;
  color: #eeeeee;
  top : -308.5px;
  width: 300px;
  height: 300px;
  border-radius: 25px;
}

#notification {
  position: relative;
  top : -608.5px;
  width: 300px;
  height: 0px;
  border-radius: 25px;
}

table {
  border-collapse: collapse;
  line-height: 0px;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #212121; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
